openapi: 3.1.0
info:
  title: ORCID Public Address Works API
  description: The ORCID Public API allows reading publicly available data from ORCID records. Based on version 3.0 of the ORCID message schema.
  version: '3.0'
servers:
- url: https://pub.orcid.org/v3.0
  description: ORCID Public API v3.0
tags:
- name: Works
paths:
  /{orcid_id}/works:
    parameters:
    - $ref: '#/components/parameters/OrcidId'
    get:
      summary: Get research works
      operationId: getWorks
      responses:
        '200':
          $ref: '#/components/responses/Generic'
      tags:
      - Works
  /{orcid_id}/works/{put_codes}:
    parameters:
    - $ref: '#/components/parameters/OrcidId'
    - name: put_codes
      in: path
      required: true
      description: Comma-separated list of put-codes (up to 100)
      schema:
        type: string
    get:
      summary: Get specific works in bulk by put-codes
      operationId: getWorksBulk
      responses:
        '200':
          $ref: '#/components/responses/Generic'
      tags:
      - Works
components:
  parameters:
    OrcidId:
      name: orcid_id
      in: path
      required: true
      description: ORCID iD (e.g. 0000-0001-2345-6789)
      schema:
        type: string
  responses:
    Generic:
      description: Successful response
      content:
        application/json:
          schema:
            type: object
            additionalProperties: true
        application/xml:
          schema:
            type: object
            additionalProperties: true
x-generated-from: https://info.orcid.org/api/tutorial/read-orcid-records
x-generated-by: claude-crawl-2026-05-08
