openapi: 3.1.0
info:
  title: ORCID Public API
  description: >-
    The ORCID Public API allows reading publicly available data from ORCID
    records. Based on version 3.0 of the ORCID message schema.
  version: "3.0"
x-generated-from: https://info.orcid.org/api/tutorial/read-orcid-records
x-generated-by: claude-crawl-2026-05-08
servers:
  - url: https://pub.orcid.org/v3.0
    description: ORCID Public API v3.0
paths:
  /{orcid_id}/record:
    parameters:
      - $ref: '#/components/parameters/OrcidId'
    get:
      summary: Get full ORCID record summary
      operationId: getRecord
      responses:
        '200':
          $ref: '#/components/responses/Generic'
  /{orcid_id}/person:
    parameters:
      - $ref: '#/components/parameters/OrcidId'
    get:
      summary: Get the biographical (person) section of a record
      operationId: getPerson
      responses:
        '200':
          $ref: '#/components/responses/Generic'
  /{orcid_id}/summary:
    parameters:
      - $ref: '#/components/parameters/OrcidId'
    get:
      summary: Get a summary of validated and self-asserted record items
      operationId: getSummary
      responses:
        '200':
          $ref: '#/components/responses/Generic'
  /{orcid_id}/address:
    parameters:
      - $ref: '#/components/parameters/OrcidId'
    get:
      summary: Get countries/regions associated with the record
      operationId: getAddress
      responses:
        '200':
          $ref: '#/components/responses/Generic'
  /{orcid_id}/email:
    parameters:
      - $ref: '#/components/parameters/OrcidId'
    get:
      summary: Get email addresses on the record
      operationId: getEmail
      responses:
        '200':
          $ref: '#/components/responses/Generic'
  /{orcid_id}/external-identifiers:
    parameters:
      - $ref: '#/components/parameters/OrcidId'
    get:
      summary: Get linked external identifiers
      operationId: getExternalIdentifiers
      responses:
        '200':
          $ref: '#/components/responses/Generic'
  /{orcid_id}/keywords:
    parameters:
      - $ref: '#/components/parameters/OrcidId'
    get:
      summary: Get keywords associated with the record
      operationId: getKeywords
      responses:
        '200':
          $ref: '#/components/responses/Generic'
  /{orcid_id}/other-names:
    parameters:
      - $ref: '#/components/parameters/OrcidId'
    get:
      summary: Get alternative names on the record
      operationId: getOtherNames
      responses:
        '200':
          $ref: '#/components/responses/Generic'
  /{orcid_id}/personal-details:
    parameters:
      - $ref: '#/components/parameters/OrcidId'
    get:
      summary: Get name and biography
      operationId: getPersonalDetails
      responses:
        '200':
          $ref: '#/components/responses/Generic'
  /{orcid_id}/researcher-urls:
    parameters:
      - $ref: '#/components/parameters/OrcidId'
    get:
      summary: Get researcher profile links
      operationId: getResearcherUrls
      responses:
        '200':
          $ref: '#/components/responses/Generic'
  /{orcid_id}/educations:
    parameters:
      - $ref: '#/components/parameters/OrcidId'
    get:
      summary: Get education affiliations
      operationId: getEducations
      responses:
        '200':
          $ref: '#/components/responses/Generic'
  /{orcid_id}/employments:
    parameters:
      - $ref: '#/components/parameters/OrcidId'
    get:
      summary: Get employment affiliations
      operationId: getEmployments
      responses:
        '200':
          $ref: '#/components/responses/Generic'
  /{orcid_id}/fundings:
    parameters:
      - $ref: '#/components/parameters/OrcidId'
    get:
      summary: Get funding activities
      operationId: getFundings
      responses:
        '200':
          $ref: '#/components/responses/Generic'
  /{orcid_id}/peer-reviews:
    parameters:
      - $ref: '#/components/parameters/OrcidId'
    get:
      summary: Get peer review activities
      operationId: getPeerReviews
      responses:
        '200':
          $ref: '#/components/responses/Generic'
  /{orcid_id}/works:
    parameters:
      - $ref: '#/components/parameters/OrcidId'
    get:
      summary: Get research works
      operationId: getWorks
      responses:
        '200':
          $ref: '#/components/responses/Generic'
  /{orcid_id}/works/{put_codes}:
    parameters:
      - $ref: '#/components/parameters/OrcidId'
      - name: put_codes
        in: path
        required: true
        description: Comma-separated list of put-codes (up to 100)
        schema:
          type: string
    get:
      summary: Get specific works in bulk by put-codes
      operationId: getWorksBulk
      responses:
        '200':
          $ref: '#/components/responses/Generic'
components:
  parameters:
    OrcidId:
      name: orcid_id
      in: path
      required: true
      description: ORCID iD (e.g. 0000-0001-2345-6789)
      schema:
        type: string
  responses:
    Generic:
      description: Successful response
      content:
        application/json:
          schema:
            type: object
            additionalProperties: true
        application/xml:
          schema:
            type: object
            additionalProperties: true
